<nav class="navbar navbar-expand lg navbar-light bg-light" style="z-index: 200">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="javascript:void(0)" routerLink="/{{routes.home}}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" routerLink="/{{routes.myProfile}}" class="nav-link">My Profile</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" routerLink="/{{routes.gallery}}" class="nav-link" target="_blank">Gallery</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" (click)="logout()" class="nav-link">Logout</a>
            </li>
            <li class="nav-item"><p class="nav-link">{{loggedIn ? "Logged in as " + loggedInAs : "Not logged in"}}</p></li>
        </ul>
    </div>
</nav>
